/* your styles go here */
.box-design
{
    padding: 40px 35px 20px;
    background: #fff;
}

.box-design img
{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.img-design img
{
    width: 100%;
}
